.DS_Store
node_modules
/dist
src/config
# local env files
.env.local
.env.*.local
#testing
public/witcher.mp4
# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
